* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Georama', sans-serif;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/background.jpg) no-repeat center center;
    background-size: cover;
}

.weather {
    position: relative;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(211, 182, 182);
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.weather__city-select {
    width: 90px;
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border-radius: 5px;
}

.weather__city-wrap {
    position: relative;
}

.weather__city {
    max-width: 180px;
    text-align: center;
    font-size: 40px;
}

.weather__temperature {
    font-size: 65px;
    font-weight: 500;
}

.weather__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather__status {
    font-size: 14px;
    font-weight: 500;
}

.weather__icon {
    position: absolute;
    top: -10px;
    left: -40px;
    width: 50px;
    height: 50px;
    border-radius: 10px;
}