/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/background.jpg) no-repeat center center;
    background-size: cover;
}

.opacity {
    opacity: 0;
}

/* Weather card */

.card {
    position: relative;
    width: 380px;
    height: 420px;
    padding: 35px;
    display: flex;
    flex-direction: column;
    font-family: 'Georama', sans-serif;
    background: linear-gradient(90deg, #b9deed, #efefef);
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card__city-select {
    width: 100px;
    position: absolute;
    top: 15px;
    right: 35px;
    background: none;
    border-radius: 3px;
}

.card__city {
    margin-bottom: 5px;
    font-size: 2em;
    font-weight: 500;
}

.card__clock {
    display: flex;
    align-items: center;
}

.clock {
    margin-left: 5px;
    display: flex;
}

.current-weather-wrap {
    padding-bottom: 25px;
    border-bottom: 1px solid #4ca2c4;
}

.current-weather-main {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.current-weather-info {
    display: flex;
    justify-content: space-around;
}

.current__temperature {
    font-size: 3.5em;
    font-weight: 500;
}

.current__wind-speed,
.current__humidity,
.current__pressure {
    position: relative;
}

.current__wind-speed::before {
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    content: url('img/icons/wind.svg');
}

.current__humidity::before {
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    content: url('img/icons/drop.svg');
}

.current__pressure::before {
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    content: url('img/icons/temperature.svg');
}

.forecast-wrap {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.forecast {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.forecast__icon {
    width: 50px;
}

.forecast__temperature-day {
    font-size: 1.3em;
}

.forecast__temperature-night {
    font-size: 0.9em;
}