/* Base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(img/background.jpg) no-repeat center center;
    background-size: cover;
}

/* Weather card */

.card {
    position: relative;
    width: 400px;
    height: 440px;
    padding: 35px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Georama', sans-serif;
    background: linear-gradient(90deg, #b3ddee, #ebcccc);
    border-radius: 10px 0 0 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.city-search {
    width: 100%;
    display: flex;
    margin-bottom: 15px;
}

.wrongCityAnim {
    color: #ff0000;
    font-weight: 600;
    animation: wrongCityAnim 0.4s linear;
}

.city-search__input {
    margin-right: 5px;
    padding: 5px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #4ca2c4;
}

.city-search__button {
    width: 50px;
    padding: 5px;
    font-weight: 700;
    outline: none;
    border: none;
    border-radius: 3px;
    background: #d6cf6e;
    cursor: pointer;
    transition: 0.2s;
}

.city-search__button:hover {
    background: #d0c537;
}

.card__city {
    font-size: 2em;
    font-weight: 500;
}

.current-weather-wrap {
    padding-bottom: 25px;
    border-bottom: 1px solid #4ca2c4;
}

.current-weather-main {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.current-weather-info {
    display: flex;
    justify-content: space-around;
}

.current__temperature {
    font-size: 3.5em;
    font-weight: 500;
}

.current__wind-speed,
.current__humidity,
.current__pressure {
    position: relative;
}

.current__wind-speed::before {
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    content: url('img/icons/wind.svg');
}

.current__humidity::before {
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    content: url('img/icons/drop.svg');
}

.current__pressure::before {
    position: absolute;
    left: -25px;
    width: 20px;
    height: 20px;
    content: url('img/icons/temperature.svg');
}

.forecast-wrap {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.forecast {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.forecast__icon {
    width: 50px;
}

.forecast__temperature-day {
    font-size: 1.3em;
}

.forecast__temperature-night {
    font-size: 0.9em;
}

.map {
    height: 440px;
    width: 400px;
    background: #ff0000;
    border-radius: 0 10px 10px 0;
}

.preloader {
    z-index: 3;
    position: absolute;
    top: calc(50% - 220px);
    left: calc(50% - 400px);
    height: 440px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #b3ddee, #ebcccc);
    border-radius: 10px;
}

.preloader__img {
    height: 50px;
    width: 50px;
    animation: sunAnim 2s linear infinite;
}

@keyframes sunAnim {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}

@keyframes wrongCityAnim {
    from {transform: translateY(0);}
    25% {transform: translateY(2px);}
    50% {transform: translateY(-2px);}
    75% {transform: translateY(2px);}
    to {transform: translateY(0);}
}